@font-face {
	font-family: "iconfont";
	src: url('../iconfont/iconfont.eot');
	src: url('../iconfont/iconfont.eot?#iefix') format('eot'),
		url('../iconfont/iconfont.woff') format('woff'),
		url('../iconfont/iconfont.ttf') format('truetype'),
		url('../iconfont/iconfont.svg#iconfont') format('svg');
}


	icon-long-arrow:before {
		content:'\E001';
		font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		text-decoration: none;
		text-transform: none;
	}

	icon-moy-mir:before {
		content:'\E002';
		font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		text-decoration: none;
		text-transform: none;
	}

	icon-odnoklassniki:before {
		content:'\E003';
		font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		text-decoration: none;
		text-transform: none;
	}

	icon-search:before {
		content:'\E004';
		font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		text-decoration: none;
		text-transform: none;
	}

	icon-success:before {
		content:'\E005';
		font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		text-decoration: none;
		text-transform: none;
	}

	icon-telegram:before {
		content:'\E006';
		font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		text-decoration: none;
		text-transform: none;
	}

	icon-vk:before {
		content:'\E007';
		font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		text-decoration: none;
		text-transform: none;
	}